<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>tau</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Inconsolata"
    rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="/" class="logo">
        <img src="/images/tau.png" alt="tau" />
      </a>
      <ul class="nav">
        <li><a href="/15150">15-150</a></li>
        <li><a href="/15122">15-122</a></li>
        <li><a href="/15210">15-210</a></li>
        <li><a href="/{{course.slug}}">browse</a></li>
        <li><a href="/account">settings</a></li>
        <li><a href="/auth/logout" class="logoutLink">log out</a></li>
      </ul>
    </div>
    <div class="content">
      {{#block "content"}}
        This is default content.
      {{/block}}
    </div>
    <div class="footer">
    team lambda @ greylock hackfest
    </div>
  </div>
  {{#block "scripts"}}
  {{/block}}
</body>
</html>
