<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>tau</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Inconsolata" 
    rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="/" class="logo">
        <img src="/images/tau.png" alt="tau" />
      </a>
      <ul class="nav">
        <li><a href="#">browser</a></li>
        <li><a href="#">settings</a></li>
        <li><a href="#" class="logoutLink">log out</a></li>
      </ul>
    </div>
    <div class="content">
      {{#block "content"}}
        This is default content.
      {{/block}}
    </div>
    <div class="footer">
    team lambda @ greylock hackfest
    </div>
  </div>
  {{#block "templates"}}
  {{/block}}
</body>
</html>
