{{#partial "content"}}
    <div class="contentHeader">
      <div class="filepath">
        <a href="/{{course.slug}}">{{course.slug}}</a>/<a href="/{{course.slug}}/{{assn.slug}}">{{assn.slug}}</a>/{{file.name}}
      </div>
      <a href="#" class="expandAll">expand all</a>
      <a href="#" class="collapseAll">collapse all</a>
    </div>
    <dl id="code" data-user-name="{{user.name}}" data-user-id="{{user._id}}" data-file-id="{{file.id}}">
      {{{file.contents}}}
    </dl>
{{/partial}}

{{#partial "scripts"}}
  <script type="text/template" id="expand-comment-button"><a href="#" class="commentExpand">+</a></script>
  <script type="text/template" id="comment-template">
      <div class="commentContainer">
        <div class="commentAuthor">
          <a href="#" class="commentAuthorName"><%= authorName %></a>
          <%= isInstructor ? 'Instructor' : '' %>
        </div>
        <div class="commentBody">
          <%= comment %>
        </div>
        <a href="#" class="commentReply">Reply</a>
      </div class="commentContainer">
      <a href="#" class="commentCollapse">-</a>
  </script>
  <script type="text/template" id="add-comment-template">
      <dd class="addComment clearfix" style="display:none;">
        <textarea></textarea>
        <ul class="actions">
          <li><a href="#" class="submit">Submit</a></li>
          <li><a href="#" class="cancel">Cancel</a></li>
        </ul>
      </dd>
  </script>
  <script type="text/javascript" src="/js/lib/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/lib/lodash.js"></script>
  <script type="text/javascript" src="/js/lib/backbone-min.js"></script>
  <script type="text/javascript" src="/js/views/review.js"></script>
  <script type="text/javascript">
    $(function() {Comments.reset({{{file.comments}}}); });
  </script>
{{/partial}}

{{> base }}
