{{#partial "content"}}
    <div class="contentHeader">
      <div class="filepath">
        <a href="/{{course.slug}}">{{course.slug}}</a>/<a href="/{{course.slug}}/{{assn.slug}}">{{assn.slug}}</a>/{{file.name}}
      </div>
    </div>
    <dl id="code" data-file-id="{{file.id}}">
      {{{file.contents}}}
    </dl>
{{/partial}}

{{#partial "scripts"}}
  <script type="text/template" id="expand-comment-button"><a href="#" class="commentExpand">+</a></script>
  <script type="text/template" id="comment-template">
      <div class="commentContainer">
        <div class="commentAuthor">
          <a href="#" class="commentAuthorName"><%= authorName %></a>
          <%= isInstructor ? 'Instructor' : '' %>
        </div>
        <div class="commentBody">
          <%= comment %>
        </div>
      </div class="commentContainer">
      <a href="#" class="commentCollapse">-</a>
  </script>
  <script type="text/template" id="add-comment-template">
      <dd class="addComment">
        <textarea>Wow, you used the bang operator!</textarea>
        <ul class="addCommentOptions">
          <li><a href="#">:)</a></li>
          <li><a href="#">:|</a></li>
          <li><a href="#">:(</a></li>
        </ul>
      </dd>
  </script>
  <script type="text/javascript" src="/js/lib/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/lib/lodash.js"></script>
  <script type="text/javascript" src="/js/lib/backbone-min.js"></script>
  <script type="text/javascript" src="/js/views/review.js"></script>
{{/partial}}

{{> base }}
