{{#partial "content"}}
      <div class="contentHeader">
        <h1>Code Review</h1>
      </div>
      <dl class="code">
        <dt>1</dt><dd><span class="kw">fun</span> memo (f : D.Key.t -> 'a) : D.key.t -> 'a =</dd>
        <dt>2</dt><dd>    <span class="kw">let</span></dd>
        <dt>3</dt><dd>      <span class="kw">val</span> hist : 'a D.dict ref = ref D.empty</dd>
        <dt>4</dt><dd>      <span class="kw">fun</span> f_memoed x =</dd>
        <dt>5</dt><dd>          <span class="kw">case</span> D.lookup (!hist) x</dd>
        <dt>6</dt><dd>            <span class="kw">of</span> SOME v => v</dd>
        <dt>7</dt><dd>             | NONE let</dd>
        <dt>8</dt><dd></dd>
        <dt>9</dt><dd>        10        20        30        40        50        60        70        80<br />omg overflow</dd>
        <dd class="comment">
          <div class="commentAuthor">
            <a href="#" class="commentAuthorName">Vincent Siao</a> Instructor
          </div>
          <div class="commentBody">
            over 80 columns again? you suck.
          </div>
        </dd>
        <dt>10</dt><dd></dd>
        <dt>11</dt><dd></dd>
        <dt>12</dt><dd></dd>
        <dt>13</dt><dd></dd>
        <dt>14</dt><dd>\EOF</dd>
      </dl>
{{/partial}}

{{> base }}
