body, ul, dl {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  color: #333;
}

h1 {
  margin: 0;
  padding-left: 10px;
}

a {
  color: #1777a4;
  text-decoration: none;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

img {
  border: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.header {
  position: fixed;
  padding: 0 10px;
  top: 0;
}

.logo {
  background-color: #ddd;
  border-bottom: 1px solid #999;
  display: block;
}

.logo img {
  display: block;
}

.logo:hover {
  background-color: #ccc;
  border-color: #666;
}

.nav a {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  color: #666;
  display: block;
  padding: 8px 16px;
}

.nav a:hover {
  background-color: #ccc;
  color: #333;
  text-decoration: none;
}

.nav .logoutLink:hover {
  background-color: #ff5757;
  color: #fff;
}

.content {
  margin-left: 140px;
}

.contentHeader {
  height: 70px;
  padding-top: 20px;
  position: relative;
  border-bottom: 1px solid #999;
}

.filepath {
  font-family: 'Inconsolata';
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
}

#code {
  background: #ccc;
  line-height: 17px;
  margin-top: 2px;
  width: 691px;
}

#code dt {
  border-right: 1px solid #aaa;
  clear: left;
  color: #999;
  float: left;
  font-size: 13px;
  padding-right: 5px;
  text-align: right;
  width: 24px;
}

#code dd {
  background: #eee;
  border-left: 1px solid #ff5757;
  font-family: 'Inconsolata';
  min-height: 17px;
  letter-spacing: 0.5px;
  margin-left: 29px;
  padding: 0 10px;
  position: relative;
  white-space: pre;
  width: 640px;
}

#code .kw {
  color: #b58700;
}

#code dt.comment {
  border: none;
}

#code dd.hasCollapsedComment {
  border-bottom: 1px solid #dc9917;
}

#code .commentExpand {
  background: url('/images/icons.png');
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 17px;
  position: absolute;
  right: -25px;
  top: 0;
  width: 17px;
}

#code .commentExpand:hover {
  background-position: 0 -17px;
}

#code dd.comment {
  background-color: #f7fa97;
  border-color: #dc9917;
  border-right: 1px solid #dc9917;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  padding: 10px;
  white-space: normal;
}

.commentAuthor {
  color: #666;
  font-size: 11px;
}

.commentAuthorName {
  font-weight: bold;
}

.commentBody {
  font-size: 13px;
}
