body, ul, dl {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  color: #333;
}

h1 {
  margin: 0;
  padding-left: 10px;
}

a {
  color: #1777a4;
  text-decoration: none;
  -o-transition: background-color 0.1s linear, color 0.1s linear;
  -moz-transition: background-color 0.1s linear, color 0.1s linear;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;
}

img {
  border: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

textarea {
  border: 1px solid #aaa;
  display: block;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  margin: 0;
}

.hidden {
  display: none !important;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.header {
  position: fixed;
  padding: 0 10px;
  top: 0;
}

.logo {
  background-color: #ddd;
  border-bottom: 1px solid #999;
  display: block;
}

.logo img {
  display: block;
}

.logo:hover {
  background-color: #ccc;
  border-color: #666;
}

.nav a {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  color: #666;
  display: block;
  padding: 8px 16px;
}

.nav a:hover {
  background-color: #ccc;
  color: #333;
  text-decoration: none;
}

.nav .logoutLink:hover,
#code .addComment .cancel:hover {
  background-color: #ff5757;
  color: #fff;
}

.content,
.footer {
  margin-left: 140px;
}

.footer,
.contentHeader {
  width: 691px;
}

.footer {
  border-top: 1px solid #999;
  color: #aaa;
  font-size: 11px;
  padding: 10px 0;
  text-align: right;
}

.contentHeader {
  height: 70px;
  padding-top: 20px;
  position: relative;
  border-bottom: 1px solid #999;
}

.filepath {
  font-family: 'Inconsolata';
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
}

.expandAll,
.collapseAll {
  background: #999;
  border-radius: 2px;
  bottom: 5px;
  color: #fff;
  font-size: 11px;
  padding: 4px 8px;
  position: absolute;
}

.expandAll:hover,
.collapseAll:hover {
  background: #1777a4;
  text-decoration: none;
}

.expandAll {
  right: 80px;
}

.collapseAll {
  right: 0;
}

#code {
  background: #ccc;
  line-height: 17px;
  margin: 1px 0;
  width: 691px;
}

#code dt {
  border-right: 1px solid #aaa;
  clear: left;
  color: #999;
  float: left;
  font-size: 13px;
  padding-right: 5px;
  position: relative;
  text-align: right;
  width: 24px;
  z-index: 1;
}

#code dd {
  background: #eee;
  border-left: 1px solid #ff5757;
  margin-left: 29px;
  padding: 0 10px;
  position: relative;
  width: 640px;
}

#code dd.code {
  cursor: pointer;
  font-family: 'Inconsolata';
  letter-spacing: 0.5px;
  min-height: 17px;
  white-space: pre;
}

#code dd.code .kw {
  color: #b58700;
}

#code dd.code .kv {
  color: #2aa197;
}

#code dd.code .cm {
  color: #aaa;
}

#code dd.code:hover {
  background: #fff;
}

#code dd.code.highlight,
#code dd.code.selected.highlight {
  background: #fff;
}

#code dd.code.selected {
  background: #f7fa97;
}

#code dd.hasCollapsedComment {
  border-bottom: 1px solid #dc9917;
}

#code .commentCollapse,
#code .commentExpand {
  background: #dc9917;
  border-radius: 0 2px 2px 0;
  color: #ddd;
  display: none;
  font-size: 18px;
  height: 18px;
  position: absolute;
  right: -17px;
  text-align: center;
  width: 17px;
}

#code dd.comment.first .commentCollapse {
  display: block;
  top: 0;
}

#code .commentExpand {
  bottom: -1px;
}

#code .commentCollapse:hover,
#code .commentExpand:hover {
  color: #fff;
  text-decoration: none;
}

#code dd.hasCollapsedComment .commentExpand {
  display: block;
}

#code dd.addComment {
  /*background: #d6f773;*/
  /*border-color: #858900;*/
  /*border-right: 1px solid #858900;*/
  background: #f7fa97;
  border-color: #999;
  border-bottom: 1px solid #dc9917;
  padding: 10px;
}

#code .addComment textarea {
  float: left;
  height: 60px;
  padding: 2px;
  resize: none;
  width: 548px;
}

#code .addComment .actions {
  margin-left: 554px;
  width: 85px;
}

#code .addComment .actions a {
  color: #333;
  display: block;
  padding: 8px 16px;
  text-align: center;
  width: 53px;
}

#code .addComment .submit {
  background: #aaa;
  border-radius: 0 2px 0 0;
}

#code .addComment .cancel {
  background: #ccc;
  border-radius: 0 0 2px;
}

#code .addComment .actions a:hover {
  text-decoration: none;
}

#code .addComment .actions .submit:hover {
  background: #8ec104;
  color: #fff;
}

#code .addCommentOptions {
  position: absolute;
  top: 0;
  right: -17px;
}

#code dd.comment {
  background: #f7fa97;
  border-color: #dc9917;
  border-right: 1px solid #dc9917;
  padding: 0 0 2px;
  width: 660px;
}

#code dd.comment.first {
  padding-top: 2px;
}

.commentContainer {
  background-color: #fff;
  padding: 10px;
}

.commentAuthor {
  color: #666;
  font-size: 11px;
}

.commentAuthorName {
  font-weight: bold;
}

.commentBody {
  font-size: 13px;
}

.commentReply {
  font-size: 11px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.assignment a,
.file a {
  display: block;
  padding: 8px 16px;
  width: 659px;
}

.assignment a:hover,
.file a:hover {
  background: #1777a4;
  color: #fff;
  text-decoration: none;
}

/********
 * auth
 ********/

#splash.container {
 text-align: center;
}

#splash .flash {
  background: #f7fa97;
  border: 1px solid #dc9917;
  border-radius: 3px;
  display: block;
  margin: 20px auto 0;
  padding: 8px 16px;
  width: 200px;
}

#splash .logo {
  border-bottom: none;
  display: inline-block;
  *display: block;
  *zoom: 1;
}

.login input {
  border-radius: 3px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  margin-bottom: 12px;
  padding: 8px 12px;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.login input[type="text"],
.login input[type="password"] {
  border: 1px solid #ccc;
  width: 200px;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #1777a4;
}

.login input[type="submit"] {
  background: none;
  border: 1px solid #aaa;
  cursor: pointer;
  width: 80px;
}

.login input[type="submit"]:hover {
  background: #1777a4;
  border-color: #eee #1777a4 #333;
  color: #fff;
}

.headline {
  font-size: 36px;
  line-height: 101px;
  padding-left: 30px;
}
